body {
    margin: 0;
    padding: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 400px;
    height: 240px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

ul li {
    list-style: none;
    border: 15px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    animation: animate 5s infinite alternate;
    transform: translate(-50%, -50%);
}

ul li:nth-child(1) {
    width: 60px;
    height: 60px;
    border-color: rgb(255, 0, 0);
    animation-delay: .2s;
}

ul li:nth-child(2) {
    width: 90px;
    height: 90px;
    border-color: rgb(255, 122, 8);
    animation-delay: .4s;
}

ul li:nth-child(3) {
    width: 120px;
    height: 120px;
    border-color: rgb(255, 255, 0);
    animation-delay: .6s;
}

ul li:nth-child(4) {
    width: 150px;
    height: 150px;
    border-color: rgb(10, 255, 0);
    animation-delay: .8s;
}

ul li:nth-child(5) {
    width: 180px;
    height: 180px;
    border-color: rgb(0, 196, 255);
    animation-delay: 1s;
}

ul li:nth-child(6) {
    width: 210px;
    height: 210px;
    border-color: #1d00ff;
    animation-delay: 1.2s;
}

ul li:nth-child(7) {
    width: 240px;
    height: 240px;
    border-color: rgb(255, 0, 255);
    animation-delay: 1.4s
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(315deg);
    }
}