h1{
    animation: stepping 3s steps(50);
    overflow: hidden;
    white-space: nowrap;
    width: 22ch;
}

@keyframes stepping{
    0%{
        width: 0ch;
    }  
    100%{
        width: 22ch;
    }
}